:root {
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --accent-text-color: #2196F3;
  --primary-bg-color: #FFFFFF;
  --second-bg-color: #F5F5F5;
  --accent-bg-color: #2F303A;
  --active-bg-color: #2196F3;
  --buttoms-text-color--: #FFFFFF;
  --buttoms-bg-color--: #F5F4FA;
  --timing-function--: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

a,
address {
  font-style: normal;
  text-decoration: none;
}

a:active {
  cursor: pointer;
  color: var(--accent-text-color);
}

img {
  display: block;
}

button {
  border: none;
}

textarea {
  resize: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 480px;
  outline: 1px solid red;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 719px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    width: 1200;
  }
}

.logo-web {
  color: var(--accent-text-color);
}

.logo,
.link {
  color: var(--primary-text-color);
}

.logo,
.logo-web,
.footer-logo,
.footer-logo-web {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

/*
.header {
    display: block;
    border-bottom: 1px solid rgba(236, 236, 236, 1);

    color: var(--primary-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.main-nav,
.header-nav {
    display: flex;
    align-items: center;
}

.main-nav {
 position: relative;
}

.header-list {
    margin-left: 93px;
}

.header-list,
.link.current {
    display: flex;
    color: var(--accent-text-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function--);
}

.heder-icons {
    margin-left: 30px;
}

.svg-header {
    align-items: center;
    fill: currentColor;
    justify-content: center;
    margin-right: 10px;
}

.header-list .item+.item {
    margin-left: 50px;
}

.header-link {
    color: var(--second-text-color);
    padding-top: 32px;
    padding-bottom: 32px;

}

.header-link:hover,
.header-link:focus,
.link:hover,
.link:focus,
.current:hover,
.current:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color)
}

.header-contact {
    display: flex;
    margin-left: auto;
}

.header-contact .item+.item {
    margin-left: 50px;
}

.link,
.link-current {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.current::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    top: 77px;
    background: #2196F3;
    border-radius: 2px;

}
.menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;

background-color: palegoldenrod;
text-align: center;
padding: 20px;
font-size: 20px;
}
.icons-croc{
    align-items: center;
    fill: currentColor;
    justify-content: center;
}
*/
/*
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.main {
    background-color: var(--accent-bg-color);
    padding: 200px 0 200px 0;
    text-align: center;

    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/backgraund\ main_Img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main__title {
    color: var(--second-bg-color);
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.main__button {
    margin-top: 30px;
    min-width: 216px;
    border: none;
    border-radius: 4px;
    padding: 10px 32px 10px 32px;

    background-color: var(--active-bg-color);
    color: var(--second-bg-color);
    padding: 10px 0px 10px 0px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    letter-spacing: 0.06em;
}
*/
.company-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.company-item {
  width: 270px;
  margin-right: 30px;
}

.icon-company {
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.svg-company {
  border-radius: 4px;
}

.company-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.company-item:nth-child(4n) {
  margin-right: 0;
}

.company-description {
  margin-top: 10px;
  color: var(--second-text-color);
  line-height: 1.71;
}

/*
.svg-company {
 border-radius: 4px;
}

.company-title {
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.company-item:nth-child(4n) {
margin-right: 0;
}

.company-description {
margin-top: 10px;
color: var(--second-text-color);
line-height: 1.71;
}
*/
/*
.work {
    padding-top: 0;
}

.work-list {
    display: flex;
    margin-left: auto;
    margin-top: 50px
}

.work-item {
    width: 370px;
}

.work-list .work-item+.work-item {
    margin-left: 30px;
}


.work-title,
.team-title,
.partners-title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
}

.work-item {
    position: relative;
}

.overlay-work {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--buttoms-text-color--);
    bottom: 0;
    left: 0;
    background: rgba(47, 48, 58, 0.8);
    opacity: 1;
    width: 370px;
    height: 70px;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: center;
}
*/
.team {
  background-color: var(--second-bg-color);
}

.team-title {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 60px;
}

.team-list {
  margin-left: auto;
  margin-top: 30px;
}

.team-item {
  margin-top: 30px;
  background-color: var(--primary-bg-color);
  width: 270px;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-block {
  padding: 30px 0 30px 0;
}

.team-heroes {
  font-weight: 500;
  line-height: 1.14;
  text-align: center;
}

.team-description {
  margin-top: 10px;
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-icons {
  margin-right: 10px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #AFB1B8;
  fill: #AFB1B8;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}

.svg-social {
  width: 20px;
  height: 20px;
}

.icons:focus,
.icons:hover {
  background-color: var(--active-bg-color);
  fill: var(--primary-bg-color);
}

/*
.team {
    background-color: var(--second-bg-color);
}

.team-list {
    display: flex;
    margin-left: auto;
    margin-top: 50px
}

.team-item {
    background-color: var(--primary-bg-color);
    width: 270px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.team-list .team-item+.team-item {
    margin-left: 30px;
}

.team-block {
    padding: 30px 0 30px 0;
}

.team-heroes {
    font-weight: 500;
    line-height: 1.14;
    text-align: center;
}

.team-description {
    margin-top: 10px;
    color: var(--second-text-color);
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-bottom: 16px;
}

.icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-icons {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    margin-right: 10px;

}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #AFB1B8;

    fill: #AFB1B8;
    transition-property: background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function--);
}

.svg-social {
    width: 20px;
    height: 20px;
}

.icons:focus,
.icons:hover {
    background-color: var(--active-bg-color);
    fill: var(--primary-bg-color)
}
*/
.partners__title {
  margin-bottom: 30px;
}
.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #AFB1B8;
}
.partners__item {
  width: 210px;
  height: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}
.partners__icon {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  fill: #AFB1B8;
  -webkit-transition-property: border-color, fill;
  transition-property: border-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}
.partners__list .partners__item:nth-child(2n+1) {
  margin-right: 30px;
}
.partners__svg {
  width: 106px;
  height: 60px;
}
.partners__icon:focus, .partners__icon:hover {
  border-color: var(--active-bg-color);
  fill: var(--active-bg-color);
}

/*
.partners{

    &__title {
    justify-content: center;
    display: flex;
    margin-bottom: 50px;
        }

   &__list {
    display: flex;
    color: #AFB1B8;
        }

    &__item {
    width: 170px;
    height: 92px;
        }

    &__icon {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    fill: #AFB1B8;
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function--);
        }

   &__svg {
    width: 106px;
    height: 60px;
        }

    &__icon:focus,
    &__icon:hover {
    border-color: var(--active-bg-color);
    fill: var(--active-bg-color);
        }

        &__list &__item + &__item {
        margin-left: 30px;
        }


}
*/
.menu {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 326px;
  height: 91px;
}
.menu__btn {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px 6px 22px;
  cursor: pointer;
  border: 1px solid #F5F4FA;
  background-color: var(--buttoms-bg-color--);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: box-shadow, background-color, color;
  transition-property: box-shadow, background-color, color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}
.menu__btn:hover, .menu__btn:focus {
  background-color: var(--active-bg-color);
  color: var(--buttoms-text-color--);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.menu .menu__filter + .menu__filter {
  padding-left: 8px;
}

.portfolio__list {
  margin-top: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.portfolio__item {
  width: 450px;
  -webkit-transition-property: -webkit-box-shadow transform;
  transition-property: -webkit-box-shadow transform;
  transition-property: box-shadow transform;
  transition-property: box-shadow transform, -webkit-box-shadow transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}
.portfolio__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects {
  position: relative;
  overflow: hidden;
  background-color: white;
}
.projects__img {
  width: 418px;
  height: 360px;
  overflow: hidden;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}
.projects__img img {
  display: block;
  width: 100%;
}
.projects__block {
  padding: 20px 24px;
  border-top: none;
  border: 1px solid rgb(236, 236, 236);
}
.projects__titel {
  margin-bottom: 4px;
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.projects__subtitle {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.87;
}
.projects__text {
  position: absolute;
  top: 0;
  left: 0;
  color: #212121;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: rgb(255, 255, 255);
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}

.portfolio__item:hover .projects__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio .portfolio__item:not(:last-child) {
  margin-bottom: 30px;
}

/*
.menu {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;

    &__btn {
        display: inline-block;
        border-radius: 4px;
        padding: 6px 22px 6px 22px;
        cursor: pointer;
        border: 1px solid #F5F4FA;

        background-color: var(--buttoms-bg-color--);
        color: var(--primary-text-color);

        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;

        transition-property: box-shadow, background-color, color;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function--);

            &:hover,
            &:focus {
            background-color: var(--active-bg-color);
            color: var(--buttoms-text-color--);
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
            }
        }

}

.menu .menu__filter + .menu__filter {
    padding-left: 8px;
}

.portfolio {

    &__list{
    margin-top: 50px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    }

    &__item {
        width: 370px;
        margin-right: 30px;
        margin-bottom: 30px;
        transition-property: box-shadow transform;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function--);
        }
   &__item:nth-child(3n) {
        margin-right: 0;
        }

    &__item:nth-last-child(-n +3) {
        margin-bottom: 0;
        }

    &__item:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
        }
}


.projects {
    position: relative;
    overflow: hidden;

    &__img {
        display: block;
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function--);
        }

    &__block {
        padding: 20px 24px;
        border-top: none;
        border: 1px solid rgba(236, 236, 236, 1)
        }

    &__titel {
        margin-bottom: 4px;
        color: var(--primary-text-color);
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        }

    &__subtitle {
        color: var(--second-text-color);
        font-size: 16px;
        line-height: 1.87;
        }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        color: #212121;
        height: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;
        padding: 63px 24px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(33, 150, 243, 0.9);
        align-items: center;
        transform: translateY(100%);
        transition: transform 250ms ease;
        transition-timing-function: var(--timing-function--);
        }

}
  .portfolio__item:hover .projects__text {
    transform: translateY(0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
  }
*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--accent-bg-color);
}

.footer-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-link {
  margin-right: 70px;
}

.footer-list {
  margin-top: 20px;
}

.footer-list,
.link-adress {
  font-style: normal;
  color: var(--buttoms-text-color--);
  line-height: 1.18;
  text-decoration: none;
}

.footer-item {
  margin-bottom: 9px;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.link-contacts {
  color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
  color: var(--primary-bg-color);
}

.footer-logo-web {
  color: var(--accent-text-color);
}

.title-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--buttoms-text-color--);
}

.footer-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-icons-item {
  margin-top: 20px;
}

.icons-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}

.svg-social-footer {
  width: 20px;
  height: 20px;
  fill: var(--buttoms-text-color--);
}

.icons-footer:hover,
.icons-footer:focus {
  background-color: var(--active-bg-color);
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-left: auto;
}

.title-form-footer {
  text-transform: uppercase;
  width: 207px;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: var(--buttoms-text-color--);
}

.footer-subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-input {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px 16px;
  width: 358px;
  height: 50px;
  outline: none;
  background-color: #2F303A;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin-right: 12px;
  color: #ffffff;
}

.button-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-align: left;
  font-weight: 700;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--buttoms-text-color--);
  background: var(--active-bg-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 28px;
}

.icon-send {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: 18px;
  fill: var(--buttoms-text-color--);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}

.backdrop:hover::before {
  opacity: 1;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}

.modal-buttom {
  width: 30px;
  height: 30px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}

.clouse-botton {
  top: 8px;
  right: 8px;
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  background-color: var(--buttoms-text-color--);
  cursor: pointer;
}

.svg-close-black {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 11px;
  height: 11px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}

.clouse-botton:hover,
.clouse-botton:focus {
  fill: var(--active-bg-color);
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.title-form {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.list-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  width: 448px;
  height: 58px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}

.form-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--second-text-color);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding-left: 42px;
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}

.form-wrap {
  position: relative;
}

.comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  height: 138px;
}

.covenant {
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.form-comment {
  width: 448px;
  height: 120px;
  cursor: pointer;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}

.consent-form {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 423px;
  margin-left: 12px;
}

.checkbox {
  visibility: hidden;
}

.checkbox-form {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 16%;
  left: 0;
  border: 2px solid rgb(33, 33, 33);
  border-radius: 3px;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function--);
          transition-timing-function: var(--timing-function--);
}

.consent-titel {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.icon-Vectors {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 11px;
  height: 11px;
  margin-bottom: 3px;
}

.checkbox:checked + .checkbox-form {
  background-color: #2196F3;
  border: #2196F3;
}

.consent-form input:checked + label .checkbox-form {
  background-color: #2196F3;
  border: #2196F3;
}

.button-form {
  width: 200px;
  height: 50px;
  background: var(--active-bg-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--buttoms-text-color--);
  margin-top: 30px;
  margin-left: 124px;
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: currentColor;
}

.list-form:focus-within .form-input {
  outline: 1px solid var(--active-bg-color);
}

.list-form:focus-within .icon-form {
  fill: var(--active-bg-color);
}

.form-input:hover,
.form-comment:hover {
  outline: 1px solid var(--active-bg-color);
}

.list-form input:hover + svg {
  fill: var(--active-bg-color);
}/*# sourceMappingURL=main.css.map */