

.company-list {
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
            display: flex;
            flex-wrap: wrap;
        }
}

.company-item {
    width: 354px;

    @media screen and (max-width: 767px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
    width: 270px;
    margin-right: 30px;
   }   
}

.icon-company {
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    border-radius: 4px;
   
    display: flex;
    width: 354px;
    height: 120px;

    @media screen and (max-width: 767px) {
        width: 450px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        margin-bottom: 30px;
        }
  
}

.company-item:nth-child(-n+2) {
     margin-bottom: 30px;
     background-color: tomato;
 }

 .company-item:nth-child(2n+1) {
     margin-right: 30px;
     background-color: aqua;
    
 }

.svg-company {
    border-radius: 4px;
}

.company-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.company-item:nth-child(4n) {
    margin-right: 0;
}

.company-description {
    margin-top: 20px;
    color: var(--second-text-color);
    line-height: 1.71;
}

