

.company-list {
    display: flex;
    flex-wrap: wrap;
   
    @media screen and (min-width: 768px) {
            margin: -15px;
    }
    @media screen and (max-width: 1199px) {
            display: flex;
            flex-wrap: wrap;
            
        }
}

.company-item {
    width: 354px;
    @media screen and (max-width: 767px) {
        width: 450px;
    }

     @media screen and (min-width: 768px) {
        width: calc((100% - 4 * 15px) / 2);
        margin: 15px;
        margin-bottom: 0px;
        }

    @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
        margin: 15px;
    
    }

   
}

.icon-company {
    align-items: center;
    justify-content: center;
    background-color: #F5F4FA;
    border-radius: 4px;
   
    display: flex;
    width: 354px;
    height: 120px;

    @media screen and (max-width: 767px) {
        width: 450px;
        margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
        margin-bottom: 30px;
        }
  
}

.company-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
}
.company-description {
    margin-top: 20px;
    color: var(--second-text-color);
    line-height: 1.71;
}

.svg-company {
    border-radius: 4px;
}

/*
.company-item:nth-child(-n+2) {
     margin-bottom: 30px;
     background-color: tomato;
 }

 .company-item:nth-child(2n+1) {
     margin-right: 30px;
     background-color: aqua;
    
 }





.company-item:nth-child(4n) {
    margin-right: 0;
}
*/


