


.menu-container{
    
    display: none;
    background-color:#fff;
    top: 0;
    left: 0;
    position: absolute;
    transform: translateX(100%);
    transition-timing-function: var(--timing-function--);
    padding-left: 40px;
}

.menu-container.is-open{
transform: translateX(0);
display: block;
}

.menu-button {
    margin-left: 270px;
    padding: 0;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 767px) {
        display: none;
    }
}

.button-close {
    padding-top: 10px;
    margin-left: 425px;
    border: none;
    background-color: transparent;
    
   
}

.mob-menu-item {
    display: flex;
    margin-bottom: 32px;
    width: 100vw;
    background-color: #fff;
}


.mob-menu-list {
    margin-top: 48px;
   
}

.mob-menu-link {
    font-size: 40px;
    line-height: 1.17;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #212121;
   
}

.mob-menu-list,
.mob-menu-link.mob-current {
    color: var(--accent-text-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function--);
}

.mob-menu-contact {
    margin-top: 274px;
    
}

.contact-item {
    display: flex;
    margin-bottom: 32px;
}

.mob-header-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}

.mob-header-link:hover,
.mob-header-link:focus {
    color: var(--accent-text-color);

}

.header-social {
    margin-bottom: 48px;
    display: flex;
   
   
}

.header-social__item {
    margin-top: 32px;
   
}

.header-social__link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: var(--accent-text-color);
    margin-right: 20px;
}


/* Стилі для таблета та декстопа*/

.header {
    display: none;
    
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

      @media screen and (min-width: 768px) {
        display: block;
      }

    &-block {
        border-bottom: 1px solid rgba(236, 236, 236, 1);
        
        position: relative;
        @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        } 

        @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
      }
    }

     &-list,
    .link.current {
        display: flex;
        color: var(--accent-text-color);
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function--);
    }

    &-svg {
        align-items: center;
        fill: currentColor;
        justify-content: center;
        margin-right: 8px;

        @media screen and (min-width: 1200px) {
                margin-right: 10px;
            }
        }

    &-list {
        @media screen and (min-width: 1200px) {
     margin-left: 87px;}
    }

    &-link {
        font-size: 12px;
        line-height: 1.16;
        color: var(--second-text-color);

        @media screen and (min-width: 1199px) {
            
         margin-right: 30px;
            }
    }
   
    &-contact {
    

    @media screen and (min-width: 768px) {
        display: block;
        margin-left: 90px;
        }

    @media screen and (min-width: 1200px) {
            display: flex;
            margin-left: 312px;
            justify-content: baseline;
        }
    }
      
    &__item-contact:last-child {
        @media screen and (max-width: 1199px) {
        margin-top: 10px;

        }
    }
}      



.header-list .header__item+.header__item {
    margin-left: 50px;
}

.header-link:hover,
.header-link:focus,
.link:hover,
.link:focus,
.current:hover,
.current:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color)
}

.link,
.link-current {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.current::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    top: 77px;
    background: #2196F3;
    border-radius: 2px;

}




/*
.header {
    border-bottom: 1px solid rgba(236, 236, 236, 1);
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    }
    
    &-block {
        display: flex;
        align-items: center;
    }

    &-list {
        margin-left: 87px;
    }

    &-list,
    .link.current {
        display: flex;
        color: var(--accent-text-color);
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function--);
    }

    &-svg {
        align-items: center;
        fill: currentColor;
        justify-content: center;
        margin-right: 10px;

    }

    &-link {
        font-size: 12px;
        line-height: 1.16;
        color: var(--second-text-color);
      
    }

    &-contact {
      display: block;
      margin-left: 60px;
      outline: 1px solid red;
    }
      
    &__item-contact:last-child {
    margin-top: 10px;
    }
}


.header-list .header__item+.header__item {
    margin-left: 50px;
}

.header-link:hover,
.header-link:focus,
.link:hover,
.link:focus,
.current:hover,
.current:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color)
}

.link,
.link-current {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.current::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    top: 77px;
    background: #2196F3;
    border-radius: 2px;

}

.icons-croc {
    align-items: center;
    fill: currentColor;
    justify-content: center;
}


/*
.header {
    display: block;
    border-bottom: 1px solid rgba(236, 236, 236, 1);

    color: var(--primary-text-color);

    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.main-nav,
.header-nav {
    display: flex;
    align-items: center;
}

.main-nav {
 position: relative;
}

.header-list {
    margin-left: 93px;
}

.header-list,
.link.current {
    display: flex;
    color: var(--accent-text-color);
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--timing-function--);
}

.heder-icons {
    margin-left: 30px;
}

.svg-header {
    align-items: center;
    fill: currentColor;
    justify-content: center;
    margin-right: 10px;
}

.header-list .item+.item {
    margin-left: 50px;
}

.header-link {
    color: var(--second-text-color);
    padding-top: 32px;
    padding-bottom: 32px;

}

.header-link:hover,
.header-link:focus,
.link:hover,
.link:focus,
.current:hover,
.current:focus {
    color: var(--accent-text-color);
    fill: var(--accent-text-color)
}

.header-contact {
    display: flex;
    margin-left: auto;
}

.header-contact .item+.item {
    margin-left: 50px;
}

.link,
.link-current {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.current::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    top: 77px;
    background: #2196F3;
    border-radius: 2px;

}

.icons-croc{
    align-items: center;
    fill: currentColor;
    justify-content: center;
}
*/