

.menu {
    
    display: flex;
    flex-wrap: wrap;


     @media screen and (max-width: 767px) {
        width: 326px;
        margin-bottom: 40px;
    }

        @media screen and (min-width: 768px) {
            justify-content: center;
            margin-bottom: 30px;
        }
         @media screen and (min-width: 1200px) {
            margin-bottom: 50px;
        }


    &__btn {
        display: inline-block;
        border-radius: 4px;
        padding: 6px 22px 6px 22px;
        cursor: pointer;
        border: 1px solid #F5F4FA;

        background-color: var(--buttoms-bg-color--);
        color: var(--primary-text-color);

        font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        text-align: center;

        transition-property: box-shadow, background-color, color;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function--);
        
    
        &:hover,
        &:focus {
            background-color: var(--active-bg-color);
            color: var(--buttoms-text-color--);
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
        }
    
    }

}


.menu .menu__filter+.menu__filter {
    @media screen and (min-width: 768px) {
        padding-left: 8px;
        }
    
}
.menu__filter:nth-child(2n){
    @media screen and (max-width: 767px) {
    margin-bottom: 15px;
    }
}

.menu__filter{
    @media screen and (max-width: 767px) {
    margin-right: 8px;
    }
}

.portfolio {
    

    &__list {
        margin-top: 14px;
        display: flex;
        flex-wrap: wrap;
        margin: -15px;

        
        @media screen and (min-width: 1199px) {
                margin-top: 50px;
                justify-content: center;
            }
    }

    &__item {
        transition-property: box-shadow transform;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function--);
        width: 354px;
        margin: -15px;
        

        @media screen and (max-width: 767px) {
                width: 450px;
                justify-content: center;
                width: calc((100% - 2 * 15px) /1);
                margin: 15px;
            }

        @media screen and (min-width: 767px) {
            width: calc((100% - 4 * 15px) / 2);
            margin: 15px;
               
            }

         @media screen and (min-width: 1200px) {
            width: calc((100% - 6 * 15px) / 3);
            margin: 15px;
               
            }
    }

}


.projects {
    position: relative;
    overflow: hidden;
    background-color: white;
   

    &__img {
        overflow: hidden;
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: var(--timing-function--);
    }

      &__img  {
           display: block;
           width: 100%;
        }

    &__block {
        padding: 20px 24px;
        border-top: none;
        border: 1px solid rgba(236, 236, 236, 1)
    }

    &__titel {
        margin-bottom: 4px;
        color: var(--primary-text-color);
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    &__subtitle {
        color: var(--second-text-color);
        font-size: 16px;
        line-height: 1.87;
    }

    &__text {
        position: absolute;
        top: 0;
        left: 0;
        color: #212121;
        height: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55;
        letter-spacing: 0.03em;
        padding: 63px 24px;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(33, 150, 243, 0.9);
        align-items: center;
        transform: translateY(100%);
        transition: transform 250ms ease;
        transition-timing-function: var(--timing-function--);
    }

}

.portfolio__item:hover .projects__text {
    transform: translateY(0);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio .portfolio__item:not(:last-child) {
   
}


