.container {
    outline: 1px solid red;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
            width: 480px;
        }

    @media screen and (min-width: 770px) {
        width: 738px;
    }

     @media screen and (min-width: 1600px) {
        width: 1200px;
       }
}


.section {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
            .section {
                padding-top: 94px;
                padding-bottom: 94px;
            }
        }
}

