h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

ul {
    padding-left: 0;
    list-style: none;
}

body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}

a,
address {
    font-style: normal;
    text-decoration: none;
}

a:active {
    cursor: pointer;
    color: var(--accent-text-color)
}

img {
    display: block;
}

button {
    border: none;
}

textarea {
    resize: none
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}