

:root {
    --primary-text-color: #212121;
    --second-text-color: #757575;
    --accent-text-color: #2196F3;
    --primary-bg-color: #FFFFFF;
    --second-bg-color: #F5F5F5;
    --accent-bg-color: #2F303A;
    --active-bg-color: #2196F3;
    --buttoms-text-color--: #FFFFFF;
    --buttoms-bg-color--: #F5F4FA;
    --timing-function--: cubic-bezier(0.4, 0, 0.2, 1);
    --primary-font-family: "Roboto";
}